.footer {
  margin: 100px 200px 20px 200px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    gap: 50px;
    .item {
      display: flex;
      flex: 1;
      flex-direction: column;
      .title {
        font-size: 15px;
        margin: 5px 0;
      }
      span {
        font-size: 12px;
        text-align: justify;
        color: gray;
      }
    }
  }
  .top,
  .bottom {
    display: flex;
    justify-content: space-between;
  }
  .bottom {
    .left,
    .right {
      display: flex;
      align-items: center;
      gap: 20px;
      h2 {
        font-weight: 500;
        text-transform: uppercase;
        color: #068fff;
        span {
          font-family: Comforter Brush;
          font-size: 30px;
        }
      }
      .copy {
        font-size: 14px;
        color: gray;
      }
      img {
        height: 50px;
      }
    }
  }
}
