@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@300&family=Comfortaa&family=Comforter+Brush&family=Hanalei&family=Montserrat&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&family=Pathway+Gothic+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200&family=Press+Start+2P&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;1,200&family=Schibsted+Grotesk&family=Water+Brush&display=swap");

.navBar {
  margin: 0;
  height: 60px;
  position: relative;
  .wrapper {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left,
    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 10px;
      gap: 20px;
    }
    .left .item:nth-child(1),
    .left .item:nth-child(2) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .center {
      h2 {
        margin: 0;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 5px;
        span {
          font-family: Comforter Brush;
          font-weight: 900;
        }
      }
    }
    .right {
      .icons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        .cartIcon {
          position: relative;
          margin-top: 8px;
          span {
            font-size: 12px;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            background-color: #5fbdff;
            color: aliceblue;
            position: absolute;
            top: -10px;
            right: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .profileImage {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 5px 5px;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        overflow: hidden;
        border: 2px solid #5fbdff;
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
      button {
        padding: 6px;
        border: none;
        background-color: #4b70f5;
        color: #fff;
        border-radius: 5px;
      }
    }
  }
}
